body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color:#fff;

  font-weight: normal;
  color: #404040;
}

html, body, .footerPushDown {
  height: 100%;
}

p {
  line-height: 1.7em;
  margin-bottom: 1em;
}

.band.full {
  position: relative;
}

.band.full.first {
  height: 550px;
}

.band.full.second {
  height: 480px;
}

.band.full.third {
  height: 530px;
  
  overflow: hidden;
  border-bottom: 1px solid #f8f8f8;
}

.band.full.fourth {
  height: 400px;
}

.bandContent, .standardPadding .articleBandContent {
  margin: 0 auto;
  max-width: 1140px;
  z-index: 2;
}

.vCenter {
  position: relative;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightText .vCenter {
  align-items: flex-end;
}

.band .imageOne {
  position: absolute;
  left: 200px;
  bottom: 75px;
  width: 400px;
  height: auto;

  z-index: 1;
}

.band .imageTwo {
  position: absolute;
  top: 0px;
  right: 10px;
  width: 800px;
  height: auto;
  
  z-index: 5;
}

.band .imageThree {
  position: absolute;
  top: 0px;
  left: 10px;
  width: 45%;
  height: auto;

  z-index: 5;
}

.imageLogo {
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

#casfriHeader {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: auto;
  z-index: 100;
  padding: 0 5%;
/*
  color: #fff;
}
#casfriHeader.shrunk, #casfriHeader.alwaysShrunk {
  color: inherit;
*/
  background-color: rgba(255, 255, 255, .98);

  -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.1);
}

#casfriHeader .innards {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  -webkit-transition-property: padding;
  -moz-transition-property: padding;
  -o-transition-property: padding;
  transition-property: padding;

  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

#casfriHeader.shrunk .innards, #casfriHeader.alwaysShrunk .innards {
  padding: 9px 0;
}

#casfriHeader .productName {
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
  font-size: 60px;
  color: inherit;

  white-space: nowrap;

  -webkit-transition-property: font-size;
  -moz-transition-property: font-size;
  -o-transition-property: font-size;
  transition-property: font-size;

  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

#casfriHeader .productName:hover {
  text-decoration: none;
}

#casfriHeader.shrunk .productName, #casfriHeader.alwaysShrunk .productName {
  display: inline-block;
  font-size: 30px;
}

#casfriHeader .casfri {
  margin-top: 5px;
  font-size: 16px;
  line-height: 50px;
  font-weight: 200;
  color: #4d4d4d;
}

#casfriHeader .casfri .logo {
  display: inline-block;
  width: 150px;
  height: 50px;
  background-image:url(./images/Logo.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  vertical-align: middle;
}

#casfriHeader.shrunk .casfri, #casfriHeader.alwaysShrunk .casfri {
  display: inline-block;
  margin-left: 3px;
}

#casfriHeader .casfri a {
  text-decoration: none;
  color: inherit;
}

#casfriHeader #menu {
  text-align: right;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  white-space: nowrap;
}

#casfriHeader #menu #menuToggler {
  display: none;
}

#casfriHeader #menu #menuItems {
  display: block;
}

#casfriHeader #menu .menuItem {
  display: inline-block;
  padding: 0px 15px;

  opacity: .8;
  cursor: pointer;

  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;

  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;

  color: inherit;
}

#casfriHeader #menu .menuItem:hover {
  opacity: 1;
  text-decoration: none;
}

#casfriHeader #menu .menuItem.gitHub {
  width: 20px;
  height: 20px;
  padding: 0px;
  margin: 0px 0px 0px 10px;

  background-image: url(./images/GitHub-Mark-64px.png);
  background-repeat: no-repeat;
  background-size: 20px auto;
  background-position: center center;

  vertical-align: bottom;
}

#casfriHeader #menu .menuItem.gitHubText {
  display: none;
}


#homeContent, #pageContent {
  position: relative;
  z-index: 1;
  min-height: 100%;
  margin-bottom: -91px;  /* height of footer */
}

#homeContent:after, #pageContent:after {
  content: "";
  height: 91px; /* height of footer */
  display: block;
}

.standardPadding {
  padding: 80px 5%;
}

#pageContent .pageTitle {
  font-size: 40px;
  font-weight: 300;
}

#pageContent .pageIntro {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}

#pageContent .columns {
  display: flex;
  justify-content: space-between;

  display: -ms-flexbox;
  -ms-flex-pack: justify;
}

#pageContent .columns .column2 {
  max-width: 46%;
}

#pageContent .linkSection {
  line-height: 20px;
  margin-bottom: 20px;
}

#pageContent .linkSection .linkSectionTitle {
  font-size: 1.4em;
  margin-bottom: 12px;
}

#pageContent .links a {
  display: block;
  line-height: 24px;
  max-width: 500px;
  padding: 0 0 0 16px;
  background-repeat: no-repeat;
  background-position: left 8px;
  background-size: 8px 8px;
  background-image: url(../images/link-icon.png);
}

#pageContent .linkSection .articleBlurb {
  padding-left: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  display: none;
}

.gallerySection, .formatSection {
  margin-bottom: 2em;
}

.gallerySection .gallerySectionTitle, .formatSection .formatSectionTitle {
  font-size: 25px;
  font-weight: 300;
}

.formatSection .formatSectionTitle {
  margin-bottom: 10px;
}

.gallerySection .galleryIntro {
  margin-bottom: 10px;
}

.gallerySection .galleryItems {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.gallerySection .galleryItems .galleryItem {
  width: 24%;

  border: 1px solid #f0f0f0;
  margin-bottom: 20px;
}

.gallerySection .galleryItems .galleryItem:hover {

}

.gallerySection .galleryItems .galleryItem .galleryItemLabel {
  display: block;
  cursor: pointer;
  border-top: 1px solid #f0f0f0;
  padding: 10px 10px 5px 10px;
}

.gallerySection .galleryItems .galleryItem .galleryItemImage {
  width: 100%;
  height: auto;
}

.gallerySection .galleryItems .galleryItem .galleryItemDescription {
  font-size: 12px;
  padding: 0px 10px 10px 10px;
}

.formatSection a.doc, .formatSection a.pres, .formatSection a.more {
  display: inline-block;
  margin: 0 15px 15px 0;

  color: #fff;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;

  vertical-align: top;

  background-color: #f0f0f0;
}

.formatTable {
  display: table;
  width: 100%;
}

.formatTable .formatTableRow {
  display: table-row;
  text-decoration: none;
}

.formatTable .formatTableRow:hover {
  background-color: #f8f8f8;
}

.formatTable .formatName {
  display: table-cell;
  padding: 5px;
  width: 200px;
}

.formatTable .formatDescription {
  display: table-cell;
  line-height: 15px;
  padding-bottom: 5px;
}

.formatTable a.formatTableRow .formatDescription {
  color: #404040;
}


#homeContent .tagline {
  padding-top: 100px;
  font-size: 40px;
  margin-bottom: 16px;
  z-index:2;
}

#homeContent a {
  text-decoration: none;
  color: #2780e3;
}

#homeContent .blue a {
  color: #fcbf49;
  font-weight: normal;
}

#homeContent a:hover {
  text-decoration: underline;
}

#homeContent .band {
  padding: 0 5%;
}

#homeContent .band.gray1 {
  background-color: #f8f8f8;
}

#homeContent .band.gray2 {
  background-color: #f0f0f0;
}

#homeContent .band.blue {
  background-color: #b9cca5;
  color: #fff;
}

#homeContent .band.orange {
  background-color: #e6553a;
  color: #fff;
}

#homeContent .band.leftText {
  text-align: left;
}

#homeContent .band.rightText {
  text-align: right;
}

#homeContent .band.centerText {
  text-align: center;
}

#homeContent .band .blurb {
  display: inline-block;
  text-align: left;
  max-width: 505px;
  line-height: 40px;
  min-height: 160px;
  font-size: 25px;
}

#homeContent .band .blurbCenter {
  display: inline-block;
  text-align: center;
  max-width: 505px;
  line-height: 40px;
  min-height: 160px;
  font-size: 25px;
  margin-top: 50px;
}

#homeContent .band .actions {
  margin-top: 20px;
}

#homeContent .band .actions div {
  display: inline-block;
}

#homeContent .bigButton {
  padding: 20px 40px;
  font-size: 20px;
  border: none;

  border-radius: 5px;

  margin: 5px;
}

#homeContent .bigButton.gallery {
  color: #fff;
  background-color: #8cb06c;
}

#homeContent .bigButton.getStarted {
  color: #fff;
  background-color: #75aadb;
}

#casfriFooter {
  position: relative;
  z-index: 2;

  box-sizing: border-box;
  height: 110px;
}

#casfriFooter.band {

  background-color: #b9cca5;
  padding: 30px 5%;

  color: #fff;

  font-weight: 300;
  font-size: 17px;

  line-height: 25px;
}

#casfriFooter .bandContent {
  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  line-height: 20px;
}

#casfriFooter .bandContent #developedBy {
  flex-shrink: 5;
}

#casfriFooter .bandContent #logos {
  flex-shrink: 1;
  margin-top: 0px;
}

#casfriFooter .bandContent .footerLogo {
  display: inline-block;
  height: 25px;
  width: 25px;

  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;

  margin-bottom: 35px;
}

#casfriFooter .bandContent #logos .footerLogo:last-child {
  margin-right: 0px;
}


#casfriFooter .bandContent .footerLogo.gitHub {
  background-image: url(./images/GitHub-Mark-64px.png);
}

