.title{
    display: none;
  }
  
body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color:#fff;

  font-weight: normal;
  color: #404040;
}

html {
  overflow-y: scroll;
}

html, body, .footerPushDown {
  height: 100%;
}

p {
  line-height: 1.7em;
  margin-bottom: 1em;
}

.band.full {
  position: relative;
}

.band.full.first {
  height: 550px;
}

.band.full.second {
  height: 480px;
}

.band.full.third {
  height: 530px;
  
  overflow: hidden;
  border-bottom: 1px solid #f8f8f8;
}

.band.full.fourth {
  height: 400px;
}

.bandContent, .standardPadding .articleBandContent {
  margin: 0 auto;
  max-width: 1140px;
  z-index: 2;
}

.vCenter {
  position: relative;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightText .vCenter {
  align-items: flex-end;
}

.band .imageOne {
  position: absolute;
  left: 200px;
  bottom: 75px;
  width: 400px;
  height: auto;

  z-index: 1;
}

.band .imageTwo {
  position: absolute;
  top: 20px;
  right: 400px;
  width: auto;
  height: 100%;
  
  z-index: 5;
}

.band .imageThree {
  position: absolute;
  top: 0px;
  left: 10px;
  width: 45%;
  height: auto;

  z-index: 5;
}

.imageLogo {
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

#casfriHeader {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: auto;
  z-index: 100;
  padding: 0 5%;
  background-color: rgba(255, 255, 255, .98);

  -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.1);
}

#casfriHeader .innards {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  -webkit-transition-property: padding;
  -moz-transition-property: padding;
  -o-transition-property: padding;
  transition-property: padding;

  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

#casfriHeader.shrunk .innards, #casfriHeader.alwaysShrunk .innards {
  padding: 9px 0;
}

#casfriHeader .casfri {
  margin-top: 5px;
  font-size: 16px;
  line-height: 50px;
  font-weight: 200;
  color: #4d4d4d;
}

#casfriHeader .casfri .logo {
  display: inline-block;
  width: 150px;
  height: 50px;
  background-image:url(./images/Logo.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  vertical-align: middle;
}

#casfriHeader.shrunk .casfri, #casfriHeader.alwaysShrunk .casfri {
  display: inline-block;
  margin-left: 3px;
}

#casfriHeader .casfri a {
  text-decoration: none;
  color: inherit;
}

#casfriHeader #menu {
  text-align: right;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  white-space: nowrap;
}

#casfriHeader #menu #menuToggler {
  display: none;
}

#casfriHeader #menu #menuItems {
  display: block;
}

#casfriHeader #menu .menuItem {
  display: inline-block;
  padding: 0px 15px;

  opacity: .8;
  cursor: pointer;

  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;

  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;

  color: inherit;
}

#casfriHeader #menu .menuItem:hover {
  opacity: 1;
  text-decoration: none;
}

#casfriHeader #menu .menuItem.gitHub {
  width: 20px;
  height: 20px;
  padding: 0px;
  margin: 0px 0px 0px 10px;

  background-image: url(./images/GitHub-Mark-64px.png);
  background-repeat: no-repeat;
  background-size: 20px auto;
  background-position: center center;

  vertical-align: bottom;
}

#homeContent, #pageContent {
  position: relative;
  z-index: 1;
  min-height: 100%;
  margin-bottom: -91px;  /* height of footer */
}

#homeContent:after, #pageContent:after {
  content: "";
  height: 91px; /* height of footer */
  display: block;
}

.standardPadding {
  padding: 80px 5%;
}

#homeContent .tagline {
  padding-top: 100px;
  font-size: 40px;
  margin-bottom: 16px;
  z-index:2;
}

#homeContent a {
  text-decoration: none;
  color: #2780e3;
}

#homeContent a:hover {
  text-decoration: underline;
}

#homeContent .band {
  padding: 0 5%;
}

#homeContent .band.gray1 {
  background-color: #f8f8f8;
}

#homeContent .band.gray2 {
  background-color: #f0f0f0;
}

#homeContent .band.green {
  background-color: #b9cca5;
  color: #fff;
}

#homeContent .band.orange {
  background-color: #e6553a;
  color: #fff;
}

#homeContent .band.leftText {
  text-align: left;
}

#homeContent .band.rightText {
  text-align: right;
}

#homeContent .band.centerText {
  text-align: center;
}

#homeContent .band .blurb {
  display: inline-block;
  text-align: left;
  max-width: 505px;
  line-height: 40px;
  min-height: 160px;
  font-size: 25px;
}

#homeContent .band .blurbCenter {
  display: inline-block;
  text-align: center;
  max-width: 505px;
  line-height: 40px;
  min-height: 160px;
  font-size: 25px;
  margin-top: 50px;
}

#casfriFooter {
  position: relative;
  z-index: 2;

  box-sizing: border-box;
  height: 110px;
}

#casfriFooter.band {

  background-color: #b9cca5;
  padding: 30px 5%;

  color: #fff;

  font-weight: 300;
  font-size: 17px;

  line-height: 25px;
}

#casfriFooter .bandContent {
  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  line-height: 20px;
}

#casfriFooter .bandContent #developedBy {
  flex-shrink: 5;
}

#casfriFooter .bandContent #logos {
  flex-shrink: 1;
  margin-top: 0px;
}

#casfriFooter .bandContent .footerLogo {
  display: inline-block;
  height: 25px;
  width: 25px;

  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;

  margin-bottom: 35px;
}

#casfriFooter .bandContent #logos .footerLogo:last-child {
  margin-right: 0px;
}


#casfriFooter .bandContent .footerLogo.gitHub {
  background-image: url(./images/GitHub-Mark-64px.png);
}

.projectSection .projectSectionTitle{
  font-size: 25px;
  font-weight: 300;
}

.projectSection .projectIntro {
  margin-bottom: 10px;
}

.projectSection .projectItems {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px;
}

.projectSection .projectItems .projectItem {
  width: 24%;

  border: 1px solid #f0f0f0;
  margin-bottom: 20px;
  margin: 10px;
}

.projectSection .projectItems .projectItem .projectItemLabel {
  display: block;
  cursor: pointer;
  border-top: 1px solid #f0f0f0;
  padding: 10px 10px 5px 10px;
}

.projectSection .projectItems .projectItem .projectItemImage {
  width: 100%;
  height: auto;
}

.projectSection .projectItems .projectItem .projectItemDescription {
  font-size: 12px;
  padding: 0px 10px 10px 10px;
}



/* adjustments for smaller screens */
@media screen and (max-width: 1800px){
  
  .band .imageTwo {
  position: absolute;
  top: 20px;
  right: 300px;
  width: auto;
  height: 100%;
  
  z-index: 5;
  }
  
}

@media screen and (max-width: 1500px){
  
  .band .imageTwo {
  position: absolute;
  top: 20px;
  right: 200px;
  width: auto;
  height: 100%;
  
  z-index: 5;
  }
  
}

@media screen and (max-width: 1300px){
  
  .band .imageTwo {
  position: absolute;
  top: 20px;
  right: 50px;
  width: auto;
  height: 100%;
  
  z-index: 5;
  }
  
}


@media screen and (max-width: 1050px){

  #homeContent {
    overflow-x: hidden;
  }

  .band.full.first, .band.full.second, .band.full.third {
      height: auto;
  }

  .vCenter {
    position: relative;
    height: auto;
    min-height: 0;
    display: block;
    padding: 100px 0px;
  }

  .third .vCenter {
    padding-top: 10px;
  }

  #homeContent .band.rightText, #homeContent .band.leftText {
    text-align: center;
  }

  #homeContent .band .blurb {
    text-align: center;
  }
  
  .band .imageTwo {
    position: relative;
    top: 0;
    right: 0;
    height: 400px;
    margin-bottom: 50px;
    width: auto;
  }

  .band .imageThree {
    position: relative;
    left: auto;
    margin-bottom: 50px;
    height: 400px;
    width: auto;
  }
}